.adventure {
  padding: 51px 24px 100px;
  @media (max-width: 1200px) {
    padding: 51px 0px 80px;
  }
  @media (max-width: 768px) {
    padding: 60px 15px;
  }
  .container {
    padding: 100px;
    border-radius: 20px;
    position: relative;
    background: url(../images/bg_advanture.png) no-repeat center;
    background-size: 100% 100%;
    @media (max-width: 1400px) {
      padding: 60px;
    }
    @media (max-width: 768px) {
      padding: 60px 0px;
    }
  }
  .component__top {
    @media (max-width: 768px) {
      padding: 0 15px;
    }
  }
  &__items {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-top: 30px;
    @media (max-width: 1400px) {
      gap: 20px;
    }
    @media (max-width: 1200px) {
      flex-wrap: wrap;
      gap: 20px 0;
    }
    @media (max-width: 768px) {
      padding-right: 10px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    @media (max-width: 1200px) {
      width: calc(25% - 20px);
    }
    @media (max-width: 992px) {
      width: calc(33.33% - 20px);
    }
    @media (max-width: 768px) {
      width: calc(50% - 10px);
    }
    @media (max-width: 556px) {
      width: 50%;
    }
    svg {
      height: fit-content;
      @media (max-width: 768px) {
        width: 95px;
      }
    }
    &-title {
      font-weight: 500;
      font-size: var(--h4);
      text-transform: uppercase;
      @media (max-width: 768px) {
        font-size: var(--h6);
        padding-left: 15px;
      }

      span {
        color: var(--accent);
      }
    }
  }
  &.priority {
    padding: 100px 24px;
    @media (max-width: 1200px) {
      padding: 80px 24px;
    }
    @media (max-width: 768px) {
      padding: 80px 24px;
    }
    @media (max-width: 556px) {
      padding: 60px 24px;
    }
    .container {
      @media (max-width: 1200px) {
        flex-wrap: wrap;
        width: 100%;
      }
      @media (max-width: 768px) {
        padding: 60px 20px 60px 7px;
      }
      @media (max-width: 556px) {
        padding: 60px 5px 60px 0px;
      }
    }
    .adventure__items {
      max-width: 1360px;
      margin: 10px auto 0;
      @media (max-width: 1200px) {
        flex-wrap: wrap;
        width: 100%;
      }
      @media (max-width: 556px) {
        gap: 10px;
      }
    }
    .adventure__item {
      @media (max-width: 1200px) {
        width: calc(33.33% - 15px);
        br {
          display: none;
        }
      }
      @media (max-width: 768px) {
        width: calc(50% - 15px);
      }
      @media (max-width: 556px) {
        width: calc(50% - 5px);
      }
      svg {
        height: fit-content;
        max-width: 100%;
        @media (max-width: 556px) {
          width: 78px;
        }
      }
      &-title {
        @media (max-width: 556px) {
          font-size: var(--h6);
        }
      }
    }
  }
}
