.banner {
  background: linear-gradient(
    94deg,
    #bb0dba 11.47%,
    #5c18dd 48.94%,
    #0099ad 88.24%
  );
  padding: 10px 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 32px;
    @media (max-width: 1200px) {
      font-size: 24px;
    }
    @media (max-width: 556px) {
      font-size: 14px;
    }
  }
  &__links {
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: 300;
    flex: 0 0 auto;
    a {
      border-radius: 60px;
      background: #000;
      display: flex;
      padding: 15px 50px;
      align-items: flex-start;
      color: #fff;
      text-decoration: none;
    }
    .banner_subtitle {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}
