.booking {
  padding-top: 120px;
  &__title {
    text-align: center;
    color: #fff;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    text-transform: uppercase;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    @media (max-width: 1580px) {
      flex-wrap: wrap;
      gap: 15px 0;
    }
  }
  &__item {
    width: calc(25% - 10px);
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-height: 550px;
    overflow: hidden;
    @media (max-width: 1580px) {
      width: calc(33.33% - 10px);
      min-height: 450px;
      max-height: auto;
    }
    @media (max-width: 992px) {
      width: calc(50% - 10px);
    }
    @media (max-width: 768px) {
      min-height: auto;
      max-height: 300px;
      padding: 10px;
      width: calc(50% - 5px);
    }
    &_top {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &-img {
      @media (max-width: 768px) {
        max-width: 78px;
      }
      @media (max-width: 556px) {
        max-width: 70px;
      }
    }
    &-title {
      text-align: center;
      font-size: 32px;
      font-style: normal;
      font-weight: 500;

      text-transform: uppercase;
      @media (max-width: 1580px) {
        font-size: 26px;
      }
      @media (max-width: 768px) {
        font-size: 20px;
      }
    }
    &-number {
      color: rgba(255, 255, 255, 0.05);
      text-align: center;
      font-size: 240px;
      font-style: normal;
      font-weight: 500;
      line-height: 40%;
      text-transform: uppercase;
      @media (max-width: 1580px) {
        font-size: 180px;
      }
      @media (max-width: 768px) {
        font-size: 80px;
      }
    }
  }
}
