.contact {
  padding: 100px 0;
  @media (max-width: 768px) {
    padding: 60px 0;
  }
  &__banner {
    border-radius: 20px;
    background: linear-gradient(
      94deg,
      var(--accent) 11.47%,
      #5c18dd 48.94%,
      #0099ad 88.24%
    );

    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: center;
      gap: 40px;
      padding: 75px 60px;
    }
    @media (max-width: 556px) {
      padding: 24px 15px;
      border-radius: 12px;
      background: linear-gradient(
        169deg,
        var(--accent) 11.47%,
        #5c18dd 48.94%,
        #0099ad 88.24%
      );
    }
    &-top {
      border-radius: 60px;
      background: #fff;
      padding: 15px 30px 14px;
      width: fit-content;
      @media (max-width: 1200px) {
        margin: 0 auto;
      }
      @media (max-width: 665px) {
        padding: 15px;
      }
      span {
        background: linear-gradient(
          94deg,
          var(--accent) 11.47%,
          #5c18dd 48.94%,
          #0099ad 88.24%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-color: white;
        text-align: center;
        font-size: var(--h3);
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        text-transform: uppercase;
        @media (max-width: 665px) {
          font-size: var(--h4);
        }
      }
    }
    &-title {
      font-size: var(--h1);
      font-style: normal;
      font-weight: 500;
      line-height: 110%;
      text-transform: uppercase;
      margin-top: 20px;
      max-width: 1100px;
      @media (max-width: 1580px) {
        max-width: 750px;
        font-size: 50px;
      }
      @media (max-width: 1200px) {
        text-align: center;
      }
      @media (max-width: 665px) {
        font-size: 40px;
      }
    }
  }
  &__link {
    position: relative;
    img {
      position: absolute;
      &:first-child {
        top: -110px;
        left: -129%;
        @media (max-width: 1200px) {
          top: 0;
          left: -90%;
          transform: rotate(322deg);
          width: 159px;
        }
        @media (max-width: 556px) {
          width: 79px;
        }
      }
      &:nth-child(2) {
        top: -150px;
        right: -100px;
        @media (max-width: 1200px) {
          top: -75px;
          right: -129px;
          width: 119.996px;
          transform: rotate(22deg);
        }
        @media (max-width: 556px) {
          width: 59px;
          top: -39px;
          right: -75px;
        }
      }
      &:nth-child(3) {
        bottom: -50px;
        left: -134%;
        @media (max-width: 1200px) {
          display: none;
        }
        @media (max-width: 556px) {
          width: 59px;
          top: -39px;
          right: -75px;
        }
      }
      &:nth-child(4) {
        display: none;
        @media (max-width: 1200px) {
          display: block;
          bottom: 0;
          right: -190px;
        }
        @media (max-width: 556px) {
          width: 87px;
          top: auto;
          right: -100px;
          bottom: 0;
        }
      }
    }
    a {
      display: flex;
      width: 200px;
      height: 200px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 2px solid #fff;
      color: #fff;
      text-align: center;
      font-size: var(--h4);
      font-weight: 500;
      line-height: 130%;
      text-transform: uppercase;
      text-decoration: none;
      transition: all 0.2s linear;
      &:hover {
        background: var(--white);
        color: var(--accent);
      }
      @media (max-width: 1200px) {
        width: 180px;
        height: 180px;
      }
      @media (max-width: 768px) {
        gap: 80px 0;
      }
      @media (max-width: 556px) {
        width: 100px;
        height: 100px;
      }
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    gap: 20px;
    @media (max-width: 992px) {
      flex-direction: column;
      gap: 60px;
    }
    &_top {
      .contact__content__left-title {
        margin-bottom: 20px;
      }
    }
    &__left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      max-width: 850px;
      @media (max-width: 992px) {
        max-width: 100%;
        gap: 60px;
      }
    }
    &__left-title {
      color: #fff;
      font-size: var(--h6);
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      text-transform: uppercase;
      opacity: 0.3;
      list-style: none;
    }
    &__social-lists {
      display: flex;
      align-items: center;
      gap: 20px;
      list-style: none;
      flex-wrap: wrap;
      .contact__content__left-title {
        width: 100%;
      }
      svg {
        @media (max-width: 556px) {
          width: 60px;
        }
      }
    }
    &__items {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      flex: 0 0 auto;
      li:not(.contact__content__left-title) {
        list-style: none;
        display: flex;
        align-items: flex-start;
        gap: 15px;
        color: #fff;
        font-size: var(--h3);
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        text-transform: uppercase;
        @media (max-width: 1580px) {
          font-size: 28px;
          gap: 8px;
        }
        @media (max-width: 1455px) {
          font-size: 24px;
        }
        a {
          display: flex;
          align-items: center;
          gap: 15px;
          text-decoration: none;
          span {
            background: linear-gradient(
              94deg,
              var(--accent) 11.47%,
              #5c18dd 48.94%,
              #0099ad 88.24%
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            @media (max-width: 768px) {
              font-size: var(--h4);
              word-break: break-all;
            }
          }
        }
      }
    }
    &_bottom {
      display: flex;
      justify-content: space-between;
      gap: 100px;
      @media (max-width: 1580px) {
        gap: 40px;
      }
      @media (max-width: 1455px) {
        gap: 30px;
      }
      @media (max-width: 1400px) {
        flex-direction: column;
      }
      @media (max-width: 992px) {
        flex-direction: row;
      }
      @media (max-width: 768px) {
        flex-direction: column;
      }
      //
      li {
        @media (max-width: 1455px) {
          align-items: center;
        }
        span:nth-child(1) {
          color: #bbb6c0;
        }
      }
    }
  }
  .map {
    max-width: 700px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    min-height: 514px;
    @media (max-width: 992px) {
      height: 580px;
      max-width: 100%;
    }
  }
}
