.hero {
  position: relative;
  line-height: 0;
  &__bg {
    width: 100%;
    object-fit: cover;
    min-height: 780px;
  }
  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    line-height: 130%;
    @media (max-width: 1024px) {
      bottom: 124px;
    }
  }
  &__content {
    &-title {
      color: #fff;
      font-size: var(--h1);
      font-style: normal;
      font-weight: 500;
      line-height: 110%;
      text-transform: uppercase;
      @media (max-width: 1400px) {
        font-size: 64px;
      }
      @media (max-width: 1024px) {
        font-size: 56px;
      }
      span {
        color: #ef66ee;
        display: block;
      }
    }
    &-description {
      font-size: var(--h4);
      font-style: normal;
      font-weight: 300;
      max-width: 695px;
      margin-top: 10px;
    }
    &-link {
      display: flex;
      background: var(--gradient) var(--x, 0) / 400% !important;
      color: #fff;
      font-weight: 500;
      width: 200px;
      height: 200px;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      transition: all 0.2s ease;
      border-radius: 50%;
      margin-top: 50px;
      &:hover {
        --x: 100%;
      }
      @media (max-width: 1400px) {
        width: 160px;
        height: 160px;
        margin-top: 30px;
      }
      @media (max-width: 768px) {
        width: 100px;
        height: 100px;
        font-size: var(--h6);
        font-style: normal;
        font-weight: 500;
        padding: 12px;
        text-align: center;
        line-height: 130%;
        text-transform: uppercase;
      }
    }
  }
  &__videos {
    max-width: 404px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: #3f3b54;
    position: relative;
    @media (max-width: 1024px) {
      position: absolute;
      right: 24px;
      bottom: -104px;
    }
    @media (max-width: 768px) {
      max-width: 350px;
    }
    @media (max-width: 556px) {
      max-width: 58%;
      padding: 5px;
      border-radius: 20px;
    }
    &-play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: fit-content;
      @media (max-width: 768px) {
        width: 30px;
        top: 40%;
      }
      &.hidden {
        opacity: 0;
        pointer-events: none;
      }
    }
    &-video {
      width: 100%;
      border-radius: 20px;
      @media (max-width: 768px) {
        border-radius: 15px;
      }
    }
    &-title {
      text-transform: uppercase;
      @media (max-width: 768px) {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
      }
    }
  }
}
