.service {
  padding: 100px 0;
  &__items {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 60px;
    .escape__item-title {
      span {
        color: #bb0dba;
      }
    }
  }
  .escape__item {
    @media (max-width: 1200px) {
      width: calc(50% - 10px);
    }
    &-title {
      @media (max-width: 992px) {
        font-size: 24px;
      }
    }
  }
}
