.testimonial {
  padding: 120px 0 0;
  user-select: none;
  @media (max-width: 1200px) {
    padding: 80px 0 0;
  }
  @media (max-width: 768px) {
    padding: 40px 0 0;
  }
  &__slider {
    padding-bottom: 50px;
    @media (max-width: 768px) {
      padding-bottom: 40px;
    }
    @media (max-width: 768px) {
      padding-bottom: 30px;
    }
  }
  .container {
    position: relative;
    .swiper-pagination {
      background: rgba(255, 255, 255, 0.05);
      height: 8px;
      border-radius: 30px;
    }
  }
  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    border-radius: 20px;
    background: #5c18dd;
  }

  .testimonial__item {
    background: #000;
    border-radius: 20px;
    padding: 30px;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 768px) {
      padding: 20px;
      max-height: 400px;
    }
    @media (max-width: 556px) {
      padding: 10px;
    }
  }

  .testimonial__text {
    font-size: var(--h3);
    font-style: normal;
    font-weight: 300;
    color: #bbb6c0;
    @media (max-width: 768px) {
      font-size: 24px;
    }
    @media (max-width: 556px) {
      font-size: var(--h4);
    }
  }

  .testimonial__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    @media (max-width: 768px) {
      flex-direction: column;

      align-items: flex-start;
    }
  }

  .testimonial__user {
    display: flex;
    align-items: center;
    gap: 12px;
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 12px;
      align-items: flex-start;
    }
  }

  .testimonial__avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: linear-gradient(
      94deg,
      var(--accent) 11.47%,
      #5c18dd 48.94%,
      #0099ad 88.24%
    );
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--h2);
    font-style: normal;
    font-weight: 500;
  }

  .testimonial__info {
    display: flex;
    flex-direction: column;
  }

  .testimonial__name {
    font-size: var(--h4);
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    text-transform: uppercase;
  }

  .testimonial__role {
    font-size: var(--h6);
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    opacity: 0.8;
  }

  .testimonial__stars {
    color: #ff00ff;
    font-size: var(--h6);
  }

  /* Progressbar */
  .swiper-pagination-progressbar {
    height: 4px;
    background: #333;
    border-radius: 5px;
  }

  .swiper-pagination-progressbar-fill {
    background: #a200ff !important;
    border-radius: 5px;
  }
}
