.works {
  position: relative;
  user-select: none;
  padding: 100px 0 60px;
  @media (max-width: 768px) {
    padding: 60px 0px;
  }
  .scrollbar {
    width: 20px;
    height: 1020px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 30px;
    background: #110f1a;
    @media (max-width: 1250px) {
      right: auto;
      left: 24px;
    }
    @media (max-width: 768px) {
      max-height: 330px;
      height: 330px;
      width: 10px;
    }
    &_thumb {
      position: absolute;
      width: 100%;
      border-radius: 20px;
      background: #0099ad;
      min-height: 322px;
      cursor: pointer;
      @media (max-width: 768px) {
        min-height: 130px;
      }
    }
  }
  &__content {
    max-height: 1020px;
    overflow: auto;
    margin-top: 60px;
    &::-webkit-scrollbar {
      display: none;
    }
    @media (max-width: 768px) {
      max-height: 330px;
    }
    &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @media (max-width: 1250px) {
        flex-direction: column;
        padding-left: 40px;
      }
    }
    &__item {
      width: calc(50% - 90px);
      display: flex;
      width: 600px;
      padding: 30px;
      justify-content: flex-end;
      align-items: center;
      gap: 30px;
      margin-top: 248px;
      height: fit-content;
      text-align: right;
      @media (max-width: 1250px) {
        width: 100%;
        margin-top: 10px;
        justify-content: start;
        flex-direction: row-reverse;
      }
      @media (max-width: 768px) {
        gap: 10px;
        padding: 10px;
      }
      &:nth-child(2) {
        @media (max-width: 1250px) {
          order: -1;
        }
      }
      &:nth-child(7) {
        @media (max-width: 1250px) {
          order: 8;
        }
      }
      &:nth-child(7) {
        @media (max-width: 1250px) {
          order: 7;
        }
      }
      &:nth-child(2),
      &:nth-child(4),
      &:nth-child(6),
      &:nth-child(8) {
        margin-top: 0px;
        text-align: left;
        @media (max-width: 1250px) {
          margin-top: 10px;
          flex-direction: row-reverse;
        }
      }
      &:nth-child(4) {
        @media (max-width: 1250px) {
          flex-direction: row;
        }
      }
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(6) {
        justify-content: flex-start;
        @media (max-width: 1250px) {
          flex-direction: row;
        }
      }
      &:nth-child(3) {
        @media (max-width: 1250px) {
          flex-direction: row-reverse;
          justify-content: start;
        }
      }

      .step_number {
        color: #fff;
        font-size: var(--h1);
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        text-transform: uppercase;
        @media (max-width: 768px) {
          font-size: 56px;
        }
        @media (max-width: 556px) {
          font-size: var(--h3);
        }
      }
      span {
        font-size: var(--h4);
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        text-transform: uppercase;
        @media (max-width: 768px) {
          text-align: left;
          font-size: var(--h6);
        }
      }
      &.active {
        background: rgba(255, 255, 255, 0.05);
      }
    }
  }
  &__keys {
    padding: 0 24px;
    @media (max-width: 768px) {
      padding: 0 15px;
    }
    .container {
      padding: 100px;
      background: url(../images/bg_advanture.png) no-repeat center;
      background-size: 100% 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (max-width: 1200px) {
        padding: 40px 40px 40px 7.5px;
      }
      @media (max-width: 768px) {
        padding: 30px 15px 30px 0;
        gap: 80px 0;
      }
      @media (max-width: 556px) {
        gap: 40px 0;
        flex-direction: column;
      }
    }
  }
  &__key-title,
  &__info-title {
    font-size: var(--h4);
    font-style: normal;
    font-weight: 300;
    @media (max-width: 768px) {
      font-size: var(--h6);
    }
  }
  &__key-number,
  &__info-number {
    font-size: var(--h2);
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    text-transform: uppercase;
    @media (max-width: 768px) {
      font-size: var(--h3);
    }
    sup {
      font-size: 12px;
      font-style: normal;
      font-weight: 300;
      @media (max-width: 768px) {
        font-size: 10px;
      }
    }
  }
  &__key-subtitle,
  &__info-subtitle {
    font-size: var(--h6);
    font-weight: 500;
    text-transform: uppercase;
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
  &__key {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    img {
      @media (max-width: 768px) {
        width: 80px;
      }
    }
  }
  &__right {
    display: flex;
    align-items: center;
    gap: 30px;
    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: flex-start;
      padding-left: 20px;
    }
    @media (max-width: 768px) {
      flex-direction: row;
      align-items: center;
      gap: 0;
      padding-left: 0;
    }
    .works__desctop_none {
      display: none;
      @media (max-width: 768px) {
        display: block;
        width: 80px;
      }
    }
  }
  &__icons {
    display: flex;
    align-items: center;
    gap: 5px;

    @media (max-width: 768px) {
      display: none;
    }
  }
}
